* {
    background-color: #dbe0eb;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: grid;
    height: 100vh;
    grid-template: 1fr 2fr 2fr / 1fr 3fr 1fr;
}

.header {
    background-color: white;
    grid-column: 2 / 4;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 25px;
    font-weight: bold;
}

.header > * svg {
    background-color: white;
    height: 25px;
}

.header .search, .header .tool {
    background-color: white;
}

input {
    border-style: none;
    background-color: #dbe0eb;
    border-radius: 10px;
    width: 800px; 
}

.tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search div {
    display: flex;
    gap: 15px;
}

.profile {
    display: flex;
    gap: 15px;
}

.tool div, .tool p, .search div{
    background-color: white;
}

button {
    background-color: #3882F6;
    color: white;
    border-style: none;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px;
    width: 100px;
}

.buttons {
    display: flex;
    gap: 25px;
}

.sidebar {
    background-color: #3882F6;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 80px 50px 50px 50px 50px 50px 80px 50px 50px 50px;
    padding: 5%;
}

.sidebar > * svg {
    background-color: #3882F6;
    height:25px;
    fill: white;
    padding-right: 20px;
}

.sidebar .dashboard {
    font-size: 2rem;
}

.sidebar .dashboard svg {
    height: 40px
}

.sidebar > * {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}

.projects {
    grid-row: 2 / 4;
    padding: 2%;
}

.title {
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
    color: black
}

.cards {
    display: grid;
    width: 100%;
    height: 90%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    background-color: white;
    color: #6d6d6d;
    border-left: 10px solid goldenrod;
    padding: 5%;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.links {
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: flex;
    background-color: white;
    justify-content: end;
    gap: 30px;
}

.links svg, .trending svg{
    background-color: white;
    height:25px;
    fill: rgb(73, 73, 73);
}

.card .title {
    background-color: white;
}

.announcements {
    padding: 6%;
}

.announcements .card {
    border-left: none;
    padding: 25px;
    font-size: small;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px
}

.announcements .title, .trending .title {
    font-size: medium;
    padding-bottom: 2px;
}

.trending {
    padding: 6%;
}

.trending hr{
    border: none;
}

.trending .at {
    background-color: white;
    color: black
}


.trending .card {
    border-left: none;
    padding: 25px;
    font-size: medium;
}

.trend-account {
    background-color: white;
    display: flex;
    gap: 10px;
}

.card div {
    background-color: white;
}