* {
    margin: 0;
}

#container {
    display: grid;
    height: 100vh;
    grid-template: 1fr 2fr 2fr / 1fr 3fr 1fr;
}

.header {
    background-color: aliceblue;
    grid-column: 2 / 4;
}

.sidebar {
    background-color: blueviolet;
    grid-row: 1 / 4;
}

.projects {
    background-color: red;
    grid-row: 2 / 4;
}

.announcements {
    background-color: orange;
}

.trending {
    background-color: green;
}

.footer {
    background-color: black;
    grid-column: 1 / 4;
}