* {
    background-color: #dbe0eb;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: grid;
    height: 100vh;
    grid-template: 1fr 2fr 2fr / 1fr 3fr 1fr;
}

.header {
    background-color: white;
    grid-column: 2 / 4;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.sidebar {
    background-color: #3882F6;
    grid-row: 1 / 4;
}

.projects {
    grid-row: 2 / 4;
    padding: 2%;
}

.title {
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
    color: black
}

.cards {
    display: grid;
    width: 100%;
    height: 90%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    background-color: white;
    color: #6d6d6d;
    border-left: 10px solid goldenrod;
    padding: 5%;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.links {
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: flex;
    background-color: white;
    justify-content: end;
    gap: 30px;
}

.links svg {
    background-color: white;
    height:25px;
    fill: rgb(73, 73, 73);
}

.card .title {
    background-color: white;
}

.footer {
    background-color: black;
    grid-column: 1 / 4;
}
